/* POR CLASSE */
.mdl-navigation i{
	font-size: 18px;
	color:#607d8b;
	padding-right:10px;
}
.mdl-card{
	width:100%;
	padding:0 25px;
}
.mdl-badge[data-badge]:after{
	font-weight: 100;
}
.status-icon{
	font-size:20px;
	margin-left: 8px;
}
.status-icon.activated{
	color:#7BAE61;
}
.status-icon.disabled{
	color:#ff5252;
}
.mdl-layout__drawer.is-visible{
	width: 320px;
}
.mdl-layout__tab-bar.mdl-js-ripple-effect.hide-phone.is-casting-shadow.mdl-js-ripple-effect--ignore-events a:hover{
	background-color: #5d7682;
}
.mdl-mega-footer{
	background-color: #546e7b;
}
.mdl-layout__drawer>.mdl-layout-title{
	background-color: #546e7b;
	background-size: 320px;
	font-weight: 300;
}
.mdl-layout__drawer>.mdl-layout-title{
	color:white;
}