@using PagedList;
@using PagedList.Mvc;
@model IPagedList
<div class="row">
    @if (Model.TotalItemCount > 0)
    {
        <div class="col-sm-6">
            <div class="dataTables_paginate" style="text-align: left;">
                @Html.PagedListPager(Model, null, new PagedListRenderOptions()
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                    DisplayLinkToNextPage = PagedListDisplayMode.Never,
                    DisplayLinkToIndividualPages = false,
                    DisplayPageCountAndCurrentLocation = false,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                    ItemSliceAndTotalFormat = "Exibindo itens de {0} a {1} em um total {2}.",
                    DisplayItemSliceAndTotal = true
                })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_paginate" style="text-align: right;">
                @Html.PagedListPager(Model, page => Url.Action("obterPagina", new {pagina = page}),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() {HttpMethod = "POST", UpdateTargetId = "linhas", OnComplete = "PagedOnComplete"}))
            </div>
        </div>
    }
    else
    {
        <div class="col col-sm-3"></div>
        <div class="col col-sm-6 widget-body">
            <div class="alert adjusted alert-info alert-block fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-info fa-2x"></i>
                <strong>Info!</strong> Nenhum registro encontrado.
            </div>
        </div>
        <div class="col col-sm-3"></div>
    }
</div>