<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="Provedor" value="System.Data.SqlClient"/>
    <add key="InicioParam" value="@"/>
    <add key="ConnectionString" value="dVDc5Ks7e8NpIhkCeGG4eXh478oKbyqdXDsbzQzWH+JFpYyo8Xi7NRrw8jsghy7po96MJkKhN7otRAo92/dcxchMvszLu+OC655yFpKknNQjQHq5N2SnsKlyIcPPAfE0BcWdM61msSSvyqaAfzGLno2yZ401+sa22+qRn7jXfGZU31+N5ONo/ufgZey1qPK4"/>
    <add key="arquivo" value="C:\temp\batidas.txt"/>
  </appSettings>
</configuration>
